# Env
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.db
*.log
.DS_Store

# Node
node_modules/
dist/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Docker
.docker/

# IDE
.idea/
.vscode/